.auth-page-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);

    .left-column{
        background-size: cover;
    }

    .right-column{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $offwhite;

        .text-input{
            @include input-element();
            grid-gap: 21px;
            padding: 21px;
            display: flex;
            svg {
                font-size: 2em;
                color: $teal;  
            }
        }
        
        .login-btn{
            @include base-btn();
            width: 100%;
        }
    }
}